# Introduction to Python  

## Regular Expressions Tutorial

Inspired in these sources: [1](https://github.com/KennyMiyasato/regex_blog_post/blob/master/regex_blog_post.ipynb), [2](https://luca-pessina.medium.com/python-regular-expressions-in-5-minutes-ecc8b6624308), [3](https://developers.google.com/edu/python/regular-expressions)  
Tables from: [regexr.com](https://regexr.com/)  
Regex [Cheat Sheet](https://www.rexegg.com/regex-quickstart.html)  
Test your regexes [here:](https://regex101.com/)

#### Regular expressions are a powerful language for matching text patterns. This page gives a basic introduction to regular expressions themselves sufficient for our Python exercises and shows how regular expressions work in Python. The Python "re" module provides regular expression support.

#### In Python a regular expression search is typically written as:

> match = re.search(pattern, str)

### Importing modules

In [1]:
import re
import pandas as pd

### Defining sample strings

In [2]:
lowercase_alphabet = "abcdefghijklmnopqrstuvwxyz"
uppercase_alphabet = lowercase_alphabet.upper()
numbers = "1234567890"
sentence = "The Quick Brown Fox Jumps Over The Lazy Dog"
website = "https://webmail2016.univie.ac.at/"
phone_numbers = """123-456-7890
                    987.654.321
                    234-567-8901
                    654.321.987
                    345-678-9012
                    321.654.978
                    456-789-0123
                """
special_characters = "[\^$.|?*+()"

text_with_email = 'xyz alice-b@google.com purple monkey'

long_text = '''
Nicht alles, was Gold ist, funkelt
Nicht alles, was Gold ist, funkelt,
Nicht jeder, der wandert, verlorn,
Das Alte wird nicht verdunkelt,
Noch Wurzeln der Tiefe erfroren.
Aus Asche wird Feuer geschlagen,
Aus Schatten geht Licht hervor;
Heil wird geborstenes Schwert,
Und König, der die Krone verlor.
'''

### Match explicit character(s)
In order to match characters explicitly, all you need to do is type what you'd like to find.

In [3]:
re.findall("abc", lowercase_alphabet)

['abc']

In [4]:
re.findall("abde", lowercase_alphabet)

[]

In [5]:
re.findall("cht", long_text)

['cht', 'cht', 'cht', 'cht', 'cht']

In [6]:
re.findall("ABC", uppercase_alphabet)

['ABC']

In [7]:
re.findall("abc", uppercase_alphabet)

[]

In [8]:
re.findall("ABC", lowercase_alphabet, flags=re.IGNORECASE)

['abc']

### Match with special character(s)
In order to match any *special characters `[]\^$.|?*+()`* you have first introduce a backslash `\` followed by the character you'd like to select.

In [9]:
re.findall("webmail2016\.univie\.ac\.at", website)

['webmail2016.univie.ac.at']

In [10]:
re.findall("we.ma.l2016.uni.ie..c.at", website)

['webmail2016.univie.ac.at']

In [11]:
re.findall("\$", special_characters)

['$']

In [12]:
re.findall("$", special_characters)

['']

In [13]:
re.findall("\|", special_characters)

['|']

In [14]:
re.findall("|", special_characters)

['', '', '', '', '', '', '', '', '', '', '', '']

### Match by pattern
There are a lot of ways we can match a pattern. Regex has its own syntax so we could pick and choose how we want our patterns to look like.

### Character Classes
| Class | Explanation |
|---|---|
| . | any character except newline |
| \w \d \s | word, digit, whitespace |
| \W \D \S | not word, not digit, not whitespace |
| [abc] | any of a, b, or c |
| [^abc] | not a, b, or c |
| [a-g] | characters between a & g |

[0-9] is not always equivalent to \d. 
In python3, [0-9] matches only 0123456789 characters, while \d matches [0-9] and other digit characters, for example Eastern Arabic numerals ٠١٢٣٤٥٦٧٨٩.

### Quantifiers & Alternation
| Class | Explanation |
|---|---|
| a* a+ a? | 0 or more, 1 or more, 0 or 1 |
| a{5} a{2,} | exactly five, two or more |
| a{1,3} | between one & three |
| a+? a{2,}? | match as few as possible |
| ab\|cd | match ab or cd |

In [15]:
re.findall("\w{1,}", sentence)

['The', 'Quick', 'Brown', 'Fox', 'Jumps', 'Over', 'The', 'Lazy', 'Dog']

In [16]:
re.findall("\W+", sentence)

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [17]:
re.findall("[The]+", sentence)

['The', 'e', 'The']

In [18]:
re.findall("[^TLB]{1,}", sentence)

['he Quick ', 'rown Fox Jumps Over ', 'he ', 'azy Dog']

In [19]:
re.findall("[a-rA-R]+", sentence)

['he', 'Q', 'ick', 'Bro', 'n', 'Fo', 'J', 'mp', 'O', 'er', 'he', 'La', 'Dog']

In [20]:
re.findall("l+", long_text)

['ll', 'l', 'l', 'll', 'l', 'l', 'l', 'l', 'l', 'l', 'l', 'l', 'l']

In [21]:
re.findall("l+?", long_text)

['l', 'l', 'l', 'l', 'l', 'l', 'l', 'l', 'l', 'l', 'l', 'l', 'l', 'l', 'l']

### Anchors
| Class | Explanation |
|---|---|
| ^abc$ | start / end of the string |
| \b \B | character between a & g |

In [22]:
re.findall("^[TheQBFJOLD]", sentence)

['T']

In [23]:
re.findall("^[TheQBFJOLD]+", sentence)

['The']

In [24]:
re.findall("[a-z,\.]{1,}$", long_text)

['verlor.']

### Escaped Characters
| Class | Explanation |
|---|---|
| \\. \\* \\\ | escaped special characters |
| \\t \\n \\r | tab, linefeed, carriage return |

In [25]:
re.findall("\d{3}\-\d{3}\-\d{4}", phone_numbers)

['123-456-7890', '234-567-8901', '345-678-9012', '456-789-0123']

In [26]:
re.findall("\d{3}[\.\-]{1}\d{3}[\.\-]{1}\d{3,4}", phone_numbers)

['123-456-7890',
 '987.654.321',
 '234-567-8901',
 '654.321.987',
 '345-678-9012',
 '321.654.978',
 '456-789-0123']

In [27]:
print(long_text)

Nicht alles, was Gold ist, funkelt
Nicht alles, was Gold ist, funkelt,
Nicht jeder, der wandert, verlorn,
Das Alte wird nicht verdunkelt,
Noch Wurzeln der Tiefe erfroren.
Aus Asche wird Feuer geschlagen,
Aus Schatten geht Licht hervor;
Heil wird geborstenes Schwert,
Und König, der die Krone verlor.

In [28]:
re.findall("\n.{5}", long_text)

['\nNicht',
 '\nNicht',
 '\nNicht',
 '\nDas A',
 '\nNoch ',
 '\nAus A',
 '\nAus S',
 '\nHeil ',
 '\nUnd K']

### Groups & Lookaround
| Class | Explanation |
|---|---|
| (abc) | capture group |
| \1 | backreference to group #1 |
| (?:abc) | non-capturing group |
| (?=abc) | positive lookahead |
| (?!abc) | negative lookahead |

In [29]:
match = re.search('([\w.-]+)@([\w\.\-]+)', text_with_email)
if match:
    print(match.group())   ## 'alice-b@google.com' (the whole match)
    print(match.group(1))  ## 'alice-b' (the username, group 1)
    print(match.group(2))  ## 'google.com' (the host, group 2)

alice-b@google.com
alice-b
google.com

In [30]:
my_string = 'purple alice@google.com, blah monkey bob@abc.com blah dishwasher'
tuples = re.findall(r'([\w\.-]+)@([\w\.-]+)', my_string)
print(tuples)  ## [('alice', 'google.com'), ('bob', 'abc.com')]
for group in tuples:
    print(group[0])  ## username
    print(group[1])  ## host

[('alice', 'google.com'), ('bob', 'abc.com')]
alice
google.com
bob
abc.com

### Substituting characters

In [31]:
string = 'This%&$is@an#example'
string = re.sub('[%&$@#]+', ' ', string)
print(string)

This is an example

### Regular Expressions with Pandas

In [32]:
fragebogen = pd.read_csv('../../Data/csv/fragebogen.csv', names=["id",
                                                                 "nummer", 
                                                                 "titel", 
                                                                 "schlagwoerter", 
                                                                 "erscheinungsjahr",
                                                                 "autoren", 
                                                                 "originaldaten",
                                                                 "anmerkung",
                                                                 "freigabe",
                                                                 "checked",
                                                                 "wordleiste",
                                                                 "druck",
                                                                 "online",
                                                                 "publiziert",
                                                                 "fragebogen_typ_id",])
fragebogen.drop(["id","schlagwoerter","erscheinungsjahr","autoren","originaldaten","anmerkung","freigabe",
                 "checked","wordleiste","druck","online","publiziert","fragebogen_typ_id",], inplace=True, axis=1)

fragebogen.set_index("nummer", drop=True, inplace=True)
fragebogen = fragebogen[fragebogen.titel.str.startswith('Fragebogen')]

In [33]:
fragebogen.info()

<class 'pandas.core.frame.DataFrame'>
Index: 109 entries, 1 to 109
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   titel   109 non-null    object
dtypes: object(1)
memory usage: 1.7+ KB

In [34]:
fragebogen.head(20)

                                                    titel
nummer
1                                  Fragebogen 1: Kopf (1)
2                        Fragebogen 2: Die Osterwoche (1)
3                        Fragebogen 3: Die Osterwoche (2)
4                                  Fragebogen 4: Kopf (2)
5       Fragebogen 5: Zeit zwischen Ostern und Fronlei...
6         Fragebogen 6: Menschl. Haar und Bart (= Kopf 3)
7                              Fragebogen 7: Hochzeit (1)
8                              Fragebogen 8: Hochzeit (2)
9                              Fragebogen 9: Hochzeit (3)
10                            Fragebogen 10: Hochzeit (4)
11                            Fragebogen 11: Hochzeit (5)
12                      Fragebogen 12: Nase, Ohr (Kopf 4)
13                           Fragebogen 13: Auge (Kopf 5)
14                   Fragebogen 14: Besiedelung, Flur (1)
15                   Fragebogen 15: Besiedelung, Flur (2)
16        Fragebogen 16: Feld, Feldbestellung (1) (Allg.)
17        Fragebogen 17: Feld, Feldbestellung (2) (Allg.)
18        Fragebogen 18: Feld, Feldbestellung (3) (Allg.)
19        Fragebogen 19: Feld, Feldbestellung (4) (Allg.)
20                Fragebogen 20: Körper (Allgemeines) (1)

#### Spliting the string in groups

In [35]:
regex1 = r'([Fragebon]+)\s{1}([0-9]+):{1}([,\w0-9.\s]+)[,\s]*([=\-\(\)\s\w0-9]*)'

fragebogen.titel.str.extract(regex1).head()

                 0  1                                       2    3
nummer
1       Fragebogen  1                                   Kopf   (1)
2       Fragebogen  2                         Die Osterwoche   (1)
3       Fragebogen  3                         Die Osterwoche   (2)
4       Fragebogen  4                                   Kopf   (2)
5       Fragebogen  5   Zeit zwischen Ostern und Fronleichnam

In [36]:
fragebogen.loc[:,'fragebogen_num'] = fragebogen.titel.str.extract(regex1)[1].str.strip()
fragebogen.loc[:,'fragebogen_headwords'] = fragebogen.titel.str.extract(regex1)[2].str.strip()
fragebogen.loc[:,'fragebogen_series'] = fragebogen.titel.str.extract(regex1)[3].str.strip()

In [37]:
fragebogen.head(20)

,titel,fragebogen_num,fragebogen_headwords,fragebogen_series
nummer,,,,
1,Fragebogen 1: Kopf (1),1,Kopf,(1)
2,Fragebogen 2: Die Osterwoche (1),2,Die Osterwoche,(1)
3,Fragebogen 3: Die Osterwoche (2),3,Die Osterwoche,(2)
4,Fragebogen 4: Kopf (2),4,Kopf,(2)
5,Fragebogen 5: Zeit zwischen Ostern und Fronlei...,5,Zeit zwischen Ostern und Fronleichnam,
6,Fragebogen 6: Menschl. Haar und Bart (= Kopf 3),6,Menschl. Haar und Bart,(= Kopf 3)
7,Fragebogen 7: Hochzeit (1),7,Hochzeit,(1)
8,Fragebogen 8: Hochzeit (2),8,Hochzeit,(2)
9,Fragebogen 9: Hochzeit (3),9,Hochzeit,(3)
10,Fragebogen 10: Hochzeit (4),10,Hochzeit,(4)
11,Fragebogen 11: Hochzeit (5),11,Hochzeit,(5)
12,"Fragebogen 12: Nase, Ohr (Kopf 4)",12,"Nase, Ohr",(Kopf 4)
13,Fragebogen 13: Auge (Kopf 5),13,Auge,(Kopf 5)
14,"Fragebogen 14: Besiedelung, Flur (1)",14,"Besiedelung, Flur",(1)
15,"Fragebogen 15: Besiedelung, Flur (2)",15,"Besiedelung, Flur",(2)
16,"Fragebogen 16: Feld, Feldbestellung (1) (Allg.)",16,"Feld, Feldbestellung",(1) (Allg
17,"Fragebogen 17: Feld, Feldbestellung (2) (Allg.)",17,"Feld, Feldbestellung",(2) (Allg
18,"Fragebogen 18: Feld, Feldbestellung (3) (Allg.)",18,"Feld, Feldbestellung",(3) (Allg
19,"Fragebogen 19: Feld, Feldbestellung (4) (Allg.)",19,"Feld, Feldbestellung",(4) (Allg
20,Fragebogen 20: Körper (Allgemeines) (1),20,Körper,(Allgemeines) (1)

## Exercises

### Twitter:
    
#### In twitter a username is validated if:

+ Is a text with a ‘@’ at the beginning so in regex ‘^@’
+ Contains only alphanumerical characters (letters A-Z, numbers 0–9). 
    + In this case we can use either ‘[A-Za-z0–9]’ or ‘[\w\d]’. 
    + We use the brackets because we want to apply another quantifiers to the set.
+ It must be between 4 and 15 characters, so {4,15}.

You can use the re.match() or re.search() methods to find a match for your string, in the following code is reported the selection throught the regex statement.

#### Let's find some twitter databases:

[First GOP debate](https://www.kaggle.com/crowdflower/first-gop-debate-twitter-sentiment)  
[US Elections 2020](https://www.kaggle.com/manchunhui/us-election-2020-tweets)

In [38]:
import sqlite3
conn = sqlite3.connect('../../Data/sqlite/tweet_database.sqlite')
cur = conn.cursor()

#### Checking the tables in database

In [39]:
q1 = "SELECT name FROM sqlite_master WHERE type IN ('table','view') AND name NOT LIKE 'sqlite_%'"
cur.execute(q1)
cur.fetchall()

[('Sentiment',)]

#### Checking columns in table "sentiments" and querying the first row from the "sentiments" table

In [40]:
q2 = "SELECT * from Sentiment limit 1"
cur.execute(q2)
#print([f[0] for f in cur.description])
#cur.fetchall()

In [41]:
for idx, row in enumerate(cur.fetchall()[0]):
    print(f"{cur.description[idx][0]}:\t{row}")
    print()

id:	1

candidate:	No candidate mentioned

candidate_confidence:	1

relevant_yn:	yes

relevant_yn_confidence:	1

sentiment:	Neutral

sentiment_confidence:	0.6578

subject_matter:	None of the above

subject_matter_confidence:	1

candidate_gold:

name:	I_Am_Kenzi

relevant_yn_gold:

retweet_count:	5

sentiment_gold:

subject_matter_gold:

text:	RT @NancyLeeGrahn: How did everyone feel about the Climate Change question last night? Exactly. #GOPDebate

tweet_coord:

tweet_created:	2015-08-07 09:54:46 -0700

tweet_id:	629697200650592256

tweet_location:

user_timezone:	Quito

#### Retrieving first 50 rows from field sentiment.text:

In [42]:
q3 = "SELECT text from Sentiment limit 50"
cur.execute(q3)
cur.fetchmany(3)

[('RT @NancyLeeGrahn: How did everyone feel about the Climate Change question last night? Exactly. #GOPDebate',),
 ("RT @ScottWalker: Didn't catch the full #GOPdebate last night. Here are some of Scott's best lines in 90 seconds. #Walker16 http://t.co/ZSfF…",),
 ('RT @TJMShow: No mention of Tamir Rice and the #GOPDebate was held in Cleveland? Wow.',)]

In [43]:
tweets = cur.execute(q3).fetchall()
tweets = [t[0] for t in tweets]
tweets

['RT @NancyLeeGrahn: How did everyone feel about the Climate Change question last night? Exactly. #GOPDebate',
 "RT @ScottWalker: Didn't catch the full #GOPdebate last night. Here are some of Scott's best lines in 90 seconds. #Walker16 http://t.co/ZSfF…",
 'RT @TJMShow: No mention of Tamir Rice and the #GOPDebate was held in Cleveland? Wow.',
 "RT @RobGeorge: That Carly Fiorina is trending -- hours after HER debate -- above any of the men in just-completed #GOPdebate says she's on …",
 'RT @DanScavino: #GOPDebate w/ @realDonaldTrump delivered the highest ratings in the history of presidential debates. #Trump2016 http://t.co…',
 'RT @GregAbbott_TX: @TedCruz: "On my first day I will rescind every illegal executive action taken by Barack Obama." #GOPDebate @FoxNews',
 'RT @warriorwoman91: I liked her and was happy when I heard she was going to be the moderator. Not anymore. #GOPDebate @megynkelly  https://…',
 'Going on #MSNBC Live with @ThomasARoberts around 2 PM ET.  #GOPDebate',
 'Deer in the headlights RT @lizzwinstead: Ben Carson, may be the only brain surgeon who has performed a lobotomy on himself. #GOPDebate',
 "RT @NancyOsborne180: Last night's debate proved it! #GOPDebate #BATsAsk @BadassTeachersA #TBATs  https://t.co/G2gGjY1bJD",
 '@JGreenDC @realDonaldTrump In all fairness #BillClinton owns that phrase.#GOPDebate',
 'RT @WayneDupreeShow: Just woke up to tweet this out #GOPDebate \n\nBest line of the night via @GovMikeHuckabee http://t.co/6OV5hxHIcV',
 "Me reading my family's comments about how great the #GOPDebate was http://t.co/gIaGjPygXZ",
 'RT @ArcticFox2016: RT @AllenWestRepub "Dear @JebBush #GOPDebate #NotAMistake http://t.co/TtFG7KYcd9"',
 "RT @pattonoswalt: I loved Scott Walker as Mark Harmon's romantic rival in SUMMER SCHOOL. Look it up. #GOPDebate",
 "Hey @ChrisChristie exploiting the tragedy of 9/11 for your own political gain is @rudygiulianiGOP's thing #GOPDebate",
 'RT @CarolCNN: #DonaldTrump under fire for comments about women @PeterBeinart @SL_Schaeffer @IWF @@MyRkiger weigh in on #GOPdebate http://t.…',
 'RT @johncardillo: Guess who had most speaking time at the #GOPDebate. @FoxNews moderators with 31.7% of time. http://t.co/2WSUT0c0Lx',
 "reason comment is funny 'in case you're ignorant' is the #gop #tcot are the reason the government isn't working for the people #gopdebate",
 'RT @PamelaGeller: Huckabee: Paying for transgender surgery for soldiers, sailors and airmen does not make our country safer #Ha #GOPDebate',
 'RT @ChuckNellis: Cruz has class &amp; truth, that gets my vote! #GOPDebate',
 "RT @mchamric: RT “@TeaTraitors: #GOPDebate was still Clown Show! I'm glad Head Clown Trump helping destroy GOP. http://t.co/nwGx8G8JWr”",
 'RT @erinmallorylong: No *I* hate Planned Parenthood and women more! NO I HATE PLANNED PARENTHOOD AND WOMEN MORE!!!!! #GOPDebate',
 'RT @thekevinryder: #GOPDebate (Vine by @dabulldawg88) https://t.co/XKxVDrADce',
 'RT @MrPooni: Fox News trying to convince us young Black Americans are more worried about ISIS than police terrorism #GOPDebate http://t.co/…',
 '#GOPDebate rankings: worst to be performance - Rubio, Kasich, Christie, Bush, Trump, Cruz, Walker, Paul, Huckabee, Carson.',
 "RT @TheBaxterBean: Scott Walker's Abortion Ban Allows Rapist Father To Sue For Emotional Distress http://t.co/rHMvgumuir #GOPDebate @Badger…",
 "RT @feministabulous: It's not a competition, but how have we moved so far on gay rights but women's rights is worse than it's ever been? #G…",
 "RT @mch7576: RT “@TeaTraitors: #GOPDebate was still Clown Show! I'm glad Head Clown Trump helping destroy GOP. http://t.co/pRy2QPCWfu””",
 'RT @HillaryClinton: Watch the #GOPdebate? Bet you feel like donating to a Democrat right about now. http://t.co/pGlQCqQgOP http://t.co/QP1e…',
 "@fbhw they're going to need to borrow the train horn for the next #GOPDebate ! The little bell was wimpy! #hornmeansyouredone",
 'RT @LisaVikingstad: Ted Cruz at the #GOPDebate will be like Ted Cruz in bed. He will keep a confusingly sad look on his face and refuse to …',
 'The First #GOPDebate: Social Media Reaction and More http://t.co/X6KUVSkltF',
 '#SocialMedia: The First #GOPDebate: Social Media Reaction and More http://t.co/ogoYfNyiKj',
 'RT WinesdayPodcast : An update on FoxNews tech failures for the #GOPDebate http://t.co/FGGlf2J5HU http://t.co/Zw35DkUozi',
 'RT @AmyMek: The Torched has been passed -&gt;.@CandyCrowley is no longer the most Famous Political Assassin! Congratulations @megynkelly, U Wi…',
 'RT @stockwizards3: Trump/Carson ticket would win in a landslide...\n@realDonaldTrump @seanhannity @AnnCoulter #Republican #potus #Trump2016 …',
 'RT @kvxrdashian: Jeb Bush: "Obama is at fault, not my brother, because Obama didn\'t clean up the mess my brother made." #GOPDebate http://t…',
 'RT @ali: After the Fox News #GOPDebate, we primary voters are none the wiser on the policy plans these folks are putting forth. Journalism …',
 "RT @itsashlyperez: listening to fetty wap while packing because i'm a true american #GOPDebate #doesthishashtagexpire?",
 'RT @mgell: Trump is a cross between the shrug emoji and President Business from the Lego movie. #GOPDebate',
 'RT @JamelleMyBelle: Meanwhile, in the White House...  #GOPDebate http://t.co/nouUUt5hKq',
 'RT @RowdyGentleman: If you’re planning out a #GOPDebate drinking game right now, you’re a Rowdy Gentleman.',
 'RT @brownblaze: PLEASE RT. #KKKorGOP #GOPDebate http://t.co/YaqYAC3uV3',
 'Trump thinks criticism of his misogynistic remarks is a "political correctness" problem. Nope, it\'s a pervasive #sexism problem. #GOPDebate',
 'RT @LeKarmaSucre: How the #GOPDebate handled #BlackLivesMatter \n\nhttp://t.co/8ZGdY6lPCT',
 'RT @palmaceiahome1: The goal of #FoxNews last night was to take out Trump and pave the way for a RINO like Bush or Kasich. #GOPDebate',
 'RT @philstockworld: From our Live Chat Room: #GOPDebate #Trump #Futures $SPY #NonFarmPayrolls #Jobs #Netflix -- http://t.co/0K06Sf81rq http…',
 '“@DanScavino: #GOPDebate w/ @realDonaldTrump delivered the highest ratings in the history of presidential debates. #Trump2016 Fox say thanks',
 'RT @gov: Most-Tweeted @GovMikeHuckabee #GOPDebate moment: saying purpose of military "to kill people/break things" re trans servicemembers']

### Or you may choose using Pandas for querying

In [44]:
q4 = "SELECT * from Sentiment limit 50"
df = pd.read_sql_query(q4, conn)
df.head()

,id,candidate,candidate_confidence,relevant_yn,relevant_yn_confidence,sentiment,sentiment_confidence,subject_matter,subject_matter_confidence,candidate_gold,...,relevant_yn_gold,retweet_count,sentiment_gold,subject_matter_gold,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
0,1,No candidate mentioned,1.0,yes,1.0,Neutral,0.6578,None of the above,1.0000,,...,,5,,,RT @NancyLeeGrahn: How did everyone feel about...,,2015-08-07 09:54:46 -0700,629697200650592256,,Quito
1,2,Scott Walker,1.0,yes,1.0,Positive,0.6333,None of the above,1.0000,,...,,26,,,RT @ScottWalker: Didn't catch the full #GOPdeb...,,2015-08-07 09:54:46 -0700,629697199560069120,,
2,3,No candidate mentioned,1.0,yes,1.0,Neutral,0.6629,None of the above,0.6629,,...,,27,,,RT @TJMShow: No mention of Tamir Rice and the ...,,2015-08-07 09:54:46 -0700,629697199312482304,,
3,4,No candidate mentioned,1.0,yes,1.0,Positive,1.0000,None of the above,0.7039,,...,,138,,,RT @RobGeorge: That Carly Fiorina is trending ...,,2015-08-07 09:54:45 -0700,629697197118861312,Texas,Central Time (US & Canada)
4,5,Donald Trump,1.0,yes,1.0,Positive,0.7045,None of the above,1.0000,,...,,156,,,RT @DanScavino: #GOPDebate w/ @realDonaldTrump...,,2015-08-07 09:54:45 -0700,629697196967903232,,Arizona

### Now it is you time!

#### Extract from tweets:
+ Mentions
+ URLs
+ Hashtags

In [45]:
for tweet in tweets:
    match = re.findall('@\w+', tweet)
    if match:
        print(match)

['@NancyLeeGrahn']
['@ScottWalker']
['@TJMShow']
['@RobGeorge']
['@DanScavino', '@realDonaldTrump']
['@GregAbbott_TX', '@TedCruz', '@FoxNews']
['@warriorwoman91', '@megynkelly']
['@ThomasARoberts']
['@lizzwinstead']
['@NancyOsborne180', '@BadassTeachersA']
['@JGreenDC', '@realDonaldTrump']
['@WayneDupreeShow', '@GovMikeHuckabee']
['@ArcticFox2016', '@AllenWestRepub', '@JebBush']
['@pattonoswalt']
['@ChrisChristie', '@rudygiulianiGOP']
['@CarolCNN', '@PeterBeinart', '@SL_Schaeffer', '@IWF', '@MyRkiger']
['@johncardillo', '@FoxNews']
['@PamelaGeller']
['@ChuckNellis']
['@mchamric', '@TeaTraitors']
['@erinmallorylong']
['@thekevinryder', '@dabulldawg88']
['@MrPooni']
['@TheBaxterBean', '@Badger']
['@feministabulous']
['@mch7576', '@TeaTraitors']
['@HillaryClinton']
['@fbhw']
['@LisaVikingstad']
['@AmyMek', '@CandyCrowley', '@megynkelly']
['@stockwizards3', '@realDonaldTrump', '@seanhannity', '@AnnCoulter']
['@kvxrdashian']
['@ali']
['@itsashlyperez']
['@mgell']
['@JamelleMyBelle']
['@RowdyGentleman']
['@brownblaze']
['@LeKarmaSucre']
['@palmaceiahome1']
['@philstockworld']
['@DanScavino', '@realDonaldTrump']
['@gov', '@GovMikeHuckabee']

In [46]:
for tweet in tweets:
    match = re.findall('http+s?:/{2}\w{1,}\.\w{1,}/.\w{1,}', tweet)
    if match:
        print(match)

['http://t.co/ZSfF']
['https://t.co/G2gGjY1bJD']
['http://t.co/6OV5hxHIcV']
['http://t.co/gIaGjPygXZ']
['http://t.co/TtFG7KYcd9']
['http://t.co/2WSUT0c0Lx']
['http://t.co/nwGx8G8JWr']
['https://t.co/XKxVDrADce']
['http://t.co/rHMvgumuir']
['http://t.co/pRy2QPCWfu']
['http://t.co/pGlQCqQgOP', 'http://t.co/QP1e']
['http://t.co/X6KUVSkltF']
['http://t.co/ogoYfNyiKj']
['http://t.co/FGGlf2J5HU', 'http://t.co/Zw35DkUozi']
['http://t.co/nouUUt5hKq']
['http://t.co/YaqYAC3uV3']
['http://t.co/8ZGdY6lPCT']
['http://t.co/0K06Sf81rq']

In [47]:
for tweet in tweets:
    match = re.findall('\#\w+', tweet)
    if match:
        print(match)

['#GOPDebate']
['#GOPdebate', '#Walker16']
['#GOPDebate']
['#GOPdebate']
['#GOPDebate', '#Trump2016']
['#GOPDebate']
['#GOPDebate']
['#MSNBC', '#GOPDebate']
['#GOPDebate']
['#GOPDebate', '#BATsAsk', '#TBATs']
['#BillClinton', '#GOPDebate']
['#GOPDebate']
['#GOPDebate']
['#GOPDebate', '#NotAMistake']
['#GOPDebate']
['#GOPDebate']
['#DonaldTrump', '#GOPdebate']
['#GOPDebate']
['#gop', '#tcot', '#gopdebate']
['#Ha', '#GOPDebate']
['#GOPDebate']
['#GOPDebate']
['#GOPDebate']
['#GOPDebate']
['#GOPDebate']
['#GOPDebate']
['#GOPDebate']
['#G']
['#GOPDebate']
['#GOPdebate']
['#GOPDebate', '#hornmeansyouredone']
['#GOPDebate']
['#GOPDebate']
['#SocialMedia', '#GOPDebate']
['#GOPDebate']
['#Republican', '#potus', '#Trump2016']
['#GOPDebate']
['#GOPDebate']
['#GOPDebate', '#doesthishashtagexpire']
['#GOPDebate']
['#GOPDebate']
['#GOPDebate']
['#KKKorGOP', '#GOPDebate']
['#sexism', '#GOPDebate']
['#GOPDebate', '#BlackLivesMatter']
['#FoxNews', '#GOPDebate']
['#GOPDebate', '#Trump', '#Futures', '#NonFarmPayrolls', '#Jobs', '#Netflix']
['#GOPDebate', '#Trump2016']
['#GOPDebate']