#Exercise: Titanic Data with `pandas`

This is the 892 line training set from [Kaggle](http://www.kaggle.com/c/titanic-gettingStarted/data).  Here is some help with filename paths.

In [1]:
import os, csv
import pandas as pd
data_path = os.path.join('data','titanic.csv')
print(data_path)

data/titanic.csv

### Read the data

- Read with `pandas.read_csv`
- Verify that you get `892` lines

In [2]:
df = pd.read_csv(data_path)
df.head()

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
print(len(df))

891

### What percent of the people survied?

- Yes, they survived: `d.survived == 1`

In [4]:
df.groupby('survived')['survived'].count()

survived
0    549
1    342
Name: survived, dtype: int64

### Function

Write a function that returns a dictionary of the number of `survived`, `not survived`, and `unknown`.  Here is the example function call:
```python
print titanic_function(data)

{'survived': 342, 'not survived': 549}

```

In [5]:
def titanic_function(data):
    cnts =  data.groupby('survived')['survived'].count()
    return {'survived': cnts[1], 'not survived': cnts[0]}

In [6]:
print(titanic_function(df))

{'survived': 342, 'not survived': 549}

### What percent of males survived? Females?

In [7]:
print(df.groupby(['sex','survived'])['survived'].count())

sex     survived
female  0            81
        1           233
male    0           468
        1           109
Name: survived, dtype: int64