# Introduction to Python   

### Comprehensions and Functional Programming

#### 1) Use list comprehension to create a list that:

- a) Given a list of strings, contains the length of them.

- b) Contains all the cubes of the multiples of 17 in a range from 1 to 1000.

- c) Contains all the numbers from 1 to 100 that starts with 4 or 5 and are even numbers.

- d) Contains all the numbers from 1 to 1000 that have the digit 3 in them.

- e) Given a list of strings, transform to upper if the first letter is a vowel and invert the string otherwise.

       For example, ['apple', 'orange', 'watermelon'] -> ['APPLE','ORANGE', 'nolemretaw']

#### 2) Write a function that takes a list with two numbers in it and determines if the sum of the digits of the two numbers are equal to each other.

#### 3) Among all the numbers that are made from the product of two 3-digit numbers:

- a) How many are odd numbers?

- b) How many start with the digit "8" and ends with the digit "9"

- c) How many are palindromes?

#### 4) Use functional programming to:

- a) Filter the indexes with positive changes in the dictionary 'stock_indexes'.

In [1]:
stock_indexes = {'FTSE 100':-0.3, 'DAX': -1.65, 'Dow Jones': -1.1, 'Ibovespa':0.2, 'S&P':0.65}

- b) Apply a function that generates a list with the types of each element of the list 'elements'

In [2]:
elements = [1,'economics', 9.8, 2 + 3j, ['a','b','c'], stock_indexes]

- c) Transform a list of lists in a flat list
    
       For example, [[1,2,4],[10,12,14],[1,2]] -> [1,2,4,10,12,14,1,2]