# Introduction to Python   

### Function Exercises

#### 1) Write a function that takes an integer representing minutes and converts it to seconds. <font color='green'>(EASY)</font>

#### 2) Create a function that converts a date formatted as MM/DD/YYYY to YYYYDDMM. The input is a string!  

(do not use datetime module)

#### 3) A typical car can hold four passengers and one driver, allowing five people to travel around. Given n number of people, `return` how many cars are needed to seat everyone comfortably.

#### 4) Create a function that replaces all the vowels in a string with the character '#'.

#### 5) Write a function that inverts the keys and values of a dictionary.

#### 6) Create a function that takes a list of strings and return a list, sorted from shortest to longest.

#### 7) Create a function that receives two list as parameters, and returns True if the first list is a subset of the second, or False otherwise. Do not use sets.

#### 8) Create a function that takes an integer and returns the factorial of that integer. That is, the integer multiplied by all positive lower integers.

#### 9) Create a function that takes a number as an argument and returns how many times it is multiple of 3.

#### 10) Create a function that sorts a list and removes all duplicate items from it. (Don't use 'set')

#### 11) Create a function that checks if the number is even or odd

#### 12) Create a function that receives a list, an element, a position and add the element in the given position in the list. This list is going to be the output of the function.

#### 13) Create a function that receives multiple parameters and returns a list with all the parameters

#### 14) Given a string, create a function that finds every word that contains a letter given as a parameter

#### 15) [Project Euler problem #17](https://projecteuler.net/index.php?section=problems&id=17)  

If the numbers 1 to 5 are written out in words: one, two, three, four, five, then there are 3 + 3 + 5 + 4 + 4 = 19 letters used in total.
If all the numbers from 1 to 1000 (one thousand, inclusive) were written out in words, how many letters would be used?

NOTE: Do not count spaces or hyphens. For example, the number 342 (three hundred and forty-two) contains 23 letters and the number 115 (one hundred and fifteen) contains 20 letters. The use of "and" when writing out numbers is in compliance with British usage.

Hint: Create a function (or a set of functions) that receives an integer and returns it in "written_form".

Example:  

    print(written_number(234))  
    > 'two hundred and thirty-four'

#### 16) [Project Euler problem #19](https://projecteuler.net/index.php?section=problems&id=1)  

"Counting Sundays"
- 1 Jan 1900 was a Monday. 
- Thirty days has September,
April, June and November.
- All the rest have thirty-one,
- Saving February alone, which has twenty-eight, rain or shine.
- And on leap years, twenty-nine.
- A leap year occurs on any year evenly divisible by 4, but not on a century unless it is divisible by 400.


How many Sundays fell on the first of the month during the twentieth century (1 Jan 1901 to 31 Dec 2000)?